<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
    </head>
    <body>
        {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
    </body>
</html>